p {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: roboto;
}
.title { 
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 2px;
  width: 300px;
}
.stats {
  font-size: 14px;
  color: rgb(96, 96, 96);
}
.author {
  color: rgb(96, 96, 96);
  font-size: 14px;
}
.describle {
  color: rgb(96, 96, 96);
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  width: 280px;
}
.shop {
  background-color: rgb(227, 65, 64);
  color: white;
  margin-top: 80px;
  margin-left: 8px;
  margin-right: 8px;
  text-align: center;
  padding: 16px;
  font-size: 14px;
}
.link:hover {
  text-decoration: underline;
}